### Handling Imbalanced Dataset

1. Upsampling
2. Downsampling

In [1]:
import numpy as np
import pandas as pd

In [2]:
# Set the seed for random reproducibility
np.random.seed(123)


n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples*class_0_ratio)
n_class_1 = n_samples-n_class_0

In [3]:
n_class_0,n_class_1

(900, 100)

In [11]:
# Create dataframe based on above size class

class_0 = pd.DataFrame({
    'feature1': np.random.normal(loc=0,scale=1,size=n_class_0),
    'feature2': np.random.normal(loc=0,scale=1,size=n_class_0),
    'target' : [0]*n_class_0
})

class_1 = pd.DataFrame({
    'feature1': np.random.normal(loc=0,scale=1,size=n_class_1),
    'feature2': np.random.normal(loc=0,scale=1,size=n_class_1),
    'target' : [1]*n_class_1
})

In [12]:
df = pd.concat([class_0,class_1]).reset_index(drop=True)

In [13]:
df.head()

   feature1  feature2  target
0 -1.774224  0.285744       0
1 -1.201377  0.333279       0
2  1.096257  0.531807       0
3  0.861037 -0.354766       0
4 -1.520367 -1.120815       0

In [14]:
df['target'].value_counts()

0    900
1    100
Name: target, dtype: int64

### Upsampling

In [15]:
df_minority = df[df['target']==1]
df_majority = df[df['target']==0]

In [16]:
df_minority.head()

     feature1  feature2  target
900 -2.643425  0.571923       1
901 -0.448991 -0.217233       1
902 -0.358907  0.054318       1
903  0.133194  0.155998       1
904 -0.644242  0.467810       1

In [17]:
df_majority.head()

   feature1  feature2  target
0 -1.774224  0.285744       0
1 -1.201377  0.333279       0
2  1.096257  0.531807       0
3  0.861037 -0.354766       0
4 -1.520367 -1.120815       0

In [21]:
# Perform Upsampling using sklearn resample

from sklearn.utils import resample

In [22]:
df_minority_upsample = resample(df_minority,replace=True,n_samples=len(df_majority),random_state=42)

In [23]:
# we have upsampled 100 minority sample to 900
df_minority_upsample.shape

(900, 3)

In [24]:
df_minority_upsample['target'].value_counts()

1    900
Name: target, dtype: int64

In [25]:
df_upsampled = pd.concat([df_majority,df_minority_upsample])

In [26]:
# now its of equal ratio now
df_upsampled['target'].value_counts()

0    900
1    900
Name: target, dtype: int64

### DOWNSAMPLING

In [27]:
df_majority_downsample = resample(df_majority,
                                  replace=False, # we keep it false for downsample and true for upsample
                                  n_samples=len(df_minority),
                                  random_state=42)

In [28]:
# 900 sample has been reduced to 100
df_majority_downsample.shape

(100, 3)

In [29]:
df_majority_downsample['target'].value_counts()

0    100
Name: target, dtype: int64

In [30]:
df_downsampled = pd.concat([df_minority,df_majority_downsample])

In [31]:
df_downsampled.shape

(200, 3)

In [32]:
df_downsampled['target'].value_counts()

1    100
0    100
Name: target, dtype: int64